*{
    margin: 0px;
    padding: 0px;

}

body{
    background: url("../img/iframe.jpg") no-repeat center center fixed;
    background-size: cover;
}

.cont{
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 410px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.cont::before{
    content: "";
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.38;


}
.cont h1{
    color:black;
    font-size: 2.3rem;
}

.box{
     /* border: 2px solid red; */
    /* width: 100%; */
    border-bottom: 2px solid purple;
    margin: 20px 12px;
    transition: 0.25s;
}
.box input{
    border: none;
    background: none;
    border-radius: 10px;
    outline: none;
    width: 65%;
    font-size: 15px;
    margin: 5px 25px;
    padding: 5px;
    color: black;
    /* background-color: rgba(255, 255, 255, 0.534); */
}
.box input::placeholder{
    color: black;
    opacity: 0.8;
}

.box i{
    float: left;
    margin-top: 10px;
    text-align: center;

}

.btn{
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100px;
    font-size: 15px;
    padding: 5px;
    margin: 15px 119px;
    cursor: pointer;
    
    
}